
<h1> Hello <%=@user.username %> </h1>

<% if @match %>
    <h1> Congrats! Your passphrase matched your audio! Everything saved. </h1>
<% end %>
<% if !@match %>
    <h3> Oops! The computer heard: <%= @decoded_text %> </h3>
    <h3> Please clearly pronounce your passphrase: <%= @plain_passphrase %> </h3>

    <td><%= link_to "record", record_audio_path(flag: 0, user_name: @user.username, plain_phrase: @plain_passphrase), :method => :post %></td>
<% end %>

<%# This is where a fallback button can live to destroy user if they don't want to signup %>
<td> </td>