<h1> About VoiceLocker </h1>
<p> VoiceLocker is an easy-to-use and convenient way of storing sensitive data in text files, that will be accessible anywhere!</p>
<p> VoiceLocker allows user to create accounts using both a password and a spoken passphrase, for the sake of two-factor authentication. This application uses a combination of hashing and encryption to make sure all your credentials are safe </p>
<p> Once a user is logged in to VoiceLocker, they can create, edit, and delete text files through a simple interface. These files get encrypted and decrypted as needed, using keys generated on the fly, based on certain factors. But exactly how this is done is our secret. </p>